<div class="modal-body">
    <form>
        <fieldset>
            <div class="tabs-container">
                <ul class="nav nav-tabs">
                    <li ng-class="activeNavTab('aws-tab')">
                        <a ng-click="setActiveTab('aws-tab')">
                            <i class="fa fa-ticket fa-2x"></i>
                        </a>
                    </li>
                    <li ng-class="activeNavTab('chef-tab')">
                        <a ng-click="setActiveTab('chef-tab')">
                            <i class="fa fa-puzzle-piece fa-2x"></i>
                        </a>
                    </li>
                    <li ng-class="activeNavTab('user-tab')">
                        <a ng-click="setActiveTab('user-tab')">
                            <i class="fa fa-user-plus fa-2x"></i>
                        </a>
                    </li>
                </ul>
                <div class="tab-content">
                    <br>
                    <!-- aws account tab -->
                    <div ng-class="activeContentTab('aws-tab')">
                        <h3>
                        Add AWS account to setup components
                        </h3>
                        <small class="text-muted">
                        <ul class="list-unstyled">
                            <li>cloudsu will create the following components in the region selected below
                                <ul>
                                    <li>DynamoDB Config Table - Accounts and settings data</li>
                                    <li>DynamoDB Servers Table - Server config data</li>
                                    <li>SQS Queue - Used to store autoscale events</li>
                                    <li>SNS Topic - Needed for capturing autoscale events</li>
                                    <li>IAM Config User - Full-access account for settings and accounts</li>
                                    <li>IAM Server User - Read-only account for server table</li>
                                </ul>
                            </li>
                        </ul>
                        All sensitive data will be encrypted in DynamoDB
                       </small>
                        <br>
                        <br>
                        <fieldset>
                            <div class="form-group">
                                <label for="input">Access Key ID</label>
                                <input class="form-control" type="password" name="key" ng-model="account.aws.key">
                            </div>
                            <div class="form-group">
                                <label for="input">Secret Access Key</label>
                                <input class="form-control" type="password" name="secret" ng-model="account.aws.secret">
                            </div>
                            <div class="form-group">
                                <label for="select">Region</label>
                                <select class="form-control" ng-model="account.aws.region">
                                    <option ng-repeat="region in regions">{{ region }}</option>
                                </select>
                            </div>
                        </fieldset>
                    </div>
                    <!-- end of aws account -->
                    <!-- chef tab -->
                    <div ng-class="activeContentTab('chef-tab')">
                        <fieldset>
                            <h3>Chef Server Setup</h3>
                            <small class="text-muted">
                                Chef is used for all configurations management in cloudsu.
                                </small>
                            <br>
                            <br>
                            <div class="form-group">
                                <label for="input">Username</label>
                                <input class="form-control" type="text" ng-model="account.cms.username">
                            </div>
                            <div class="form-group">
                                <label for="input">Server URL</label>
                                <input class="form-control" type="text" ng-model="account.cms.url">
                            </div>
                            <div class="form-group">
                                <label>Key</label>
                                <textarea class="form-control" type="text" ng-model="account.cms.key" row="4"></textarea>
                            </div>
                        </fieldset>
                    </div>
                    <!-- end of chef account -->
                    <!-- user account -->
                    <div ng-class="activeContentTab('user-tab')">
                        <fieldset>
                            <h3>
                                Create Account (Admin)</h3>
                            <small class="text-muted">
                                Admin accounts can create service accounts for API access
                            </small>
                            <br>
                            <br>
                            <div class="form-group">
                                <label for="input">Email</label>
                                <input class="form-control" type="email" ng-model="account.user.name">
                            </div>
                            <div class="form-group">
                                <label for="input">Password</label>
                                <input class="form-control" type="password" ng-model="account.user.password">
                            </div>
                            <div class="form-group">
                                <label for="input">Confirm Password</label>
                                <input class="form-control" type="password" ng-model="account.user.confirm">
                            </div>
                        </fieldset>
                        <uib-progressbar class="progress-striped active" type="success" animate="true" value="bar_value" max="100"><b>{{bar_value}}%</b></uib-progressbar>
                    </div>
                    <!-- end of user account -->
                    <br>
                    <div class="button-toolbar pull-right">
                        <button ng-click="cancel()" class="ladda-button btn btn-default">Cancel</button>
                        <button ng-click="previous()" ng-disabled="isFirst()" class="ladda-button btn btn-default"><i class="fa fa-chevron-left"></i> Previous</button>
                        <button ng-click="next()" ng-disabled="isLast()" class="ladda-button btn btn-default">Next <i class="fa fa-chevron-right"></i></button>
                        <button ladda="showSpinner" ng-disabled="!isLast()" class="btn btn-primary ladda-button" ng-click="create()">Setup</button>
                    </div>
                </div>
            </div>
        </fieldset>
    </form>
</div>
