<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <div class="text-center m-t-lg">
                <h1>
                    System
                </h1>
                <small>
                  Add and configure system accounts.
                </small>
            </div>
        </div>
    </div>
</div>
<div class="wrapper wrapper-content  animated fadeInRight">
    <div class="row">
        <div class="col-md-10 col-md-offset-1">
            <div style="text-align: center;">
                <i ng-show="!admin" class="fa fa-lock" style="font-size: 180px;color: #e5e5e5"></i>
            </div>
            <div ng-show="admin" class="ibox">
                <div class="ibox-title">
                    <button ng-click="awsModal()" class="btn btn-outline btn-primary">+ AWS Account</button>
                    <button ng-click="exportConfig()" class="btn btn-outline btn-primary"><i class="fa fa-floppy-o"></i> Export System Config</button>
                </div>
                <div class="ibox-content">
                    <table class="table table-striped">
                        <tbody>
                            <tr ng-repeat="account in aws_accounts">
                                <td>
                                    <i class="fa fa-ticket fa-2x"></i>
                                </td>
                                <td>
                                    {{ account.type }}
                                </td>
                                <td>
                                    {{ account.name }}
                                </td>
                                <td>
                                    <div ng-show="account.name !== 'DEFAULT'" class="btn-group pull-right">
                                        <a class="btn btn-default dropdown-toggle pull-right" data-toggle="dropdown"><i class="fa fa-cog"></i></a>
                                        <ul class="dropdown-menu">
                                            <li><a ng-click="removeAccount(account)">Remove</a></li>
                                        </ul>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <i class="fa fa-ticket fa-2x"></i>
                                </td>
                                <td>
                                    Chef
                                </td>
                                <td>
                                    DEFAULT
                                </td>
                                <td>
                                    <div class="btn-toolbar">
                                        <a class="btn btn-default pull-right" ng-click="chefModal()">
                                            <i class="fa fa-cog"></i>
                                        </a>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
