<div class="row border-bottom">
    <nav class="navbar navbar-static-top white-bg" role="navigation" style="margin-bottom: 0">
        <div class="navbar-header">
            <span minimaliza-sidebar></span>

        </div>

        <ul class="nav navbar-top-links navbar-left">
            <li>
                <a data-toggle="dropdown"><i class="fa fa-ticket"></i> {{activeAws}}<span class="caret"></span></a>
                <ul class="dropdown-menu">
                    <li ng-repeat="account in aws_accounts"><a ng-click="activateAccount(account)">{{account}}</a></li>
                </ul>
            </li>
            <li>
                <a data-toggle="dropdown"><i class="fa fa-globe"></i> {{activeRegion}} <span class="caret"></span></a>
                <ul class="dropdown-menu">
                    <li ng-repeat="region in aws_regions"><a ng-click="activateRegion(region)">{{region}}</a></li>
                </ul>
            </li>
            <li>
                <span class="bootstrap-switch-handle-on bootstrap-switch-primary"></span>
            </li>
        </ul>

        <ul class="nav navbar-top-links navbar-right">
            <li>
                <a ng-click="logout()">
                    <i class="fa fa-sign-out"></i> Log out
                </a>
            </li>
        </ul>
    </nav>
</div>